body{
    
}

#banner{
    width: 100%;
}

.bloque{
    background: #CCCCCC;
    padding: 20px;
}

p{
    text-align: center;
}

h1{
    text-align: center;
    /*height: 150px;
    border: 10px solid #000000;
    padding: 20px;
    margin: 40px;*/
}


strong em{
    color:red;
}

#mision{
    font-size: 20px;
}

.diferencial{
    background: #FFFFFF;
    padding: 30px;

}

h2{
    text-align: center;
}

.item{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagendif{
    width: 50%;
    
}